body{    background-image: linear-gradient(to right top, #54647c, #9b9ac5, #849aaf, #8397b1, #bcbfd1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.setting{

}
fieldset{background-image: linear-gradient(135deg,rgba(228, 226, 226, 0.5),rgba(218, 222, 228, 0.849));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(151, 151, 182, 0.5);
    border-radius: 0px 30px;box-shadow: 4px 10px 8px rgb(140, 148, 150);margin-bottom: 30px;
    z-index: 1;
    padding: 50px;

    }
    .title{text-decoration: underline; 
        text-transform: capitalize;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 30px;
        margin-top: 10px;
        text-shadow: 10px 8px 8px rgba(47, 117, 223, 0.5);
        animation-name: title;animation-duration: 4s;animation-iteration-count: infinite;
        }
        @keyframes title {
            0%{position: relative;
           left:0%;
            }
            25%{
                left:10px;color: rgb(97, 149, 168);
            }
        
            100%{left: 0%;}
        }
        .img{width: 50px;height: 80px;}